page-menufood {

}


page-menufood .toolbar-background-md

{
background: #FF4136;
}


page-menufood .toolbar-title-md {
    color: #FFF !important;
    direction: rtl !important;
    text-align: right;
    font-family: 'Cairo', sans-serif;

}

page-menufood .panel {
    position: fixed;
    left: 5px;

}


page-menufood .card-md {
    direction: rtl;
    font-family: 'Cairo', sans-serif;
   
   }
   
   
   page-menufood .select {
       display: flex;
   }
   
   page-menufood .select > div {
       width: 100%;
   }
   
   page-menufood .select .price {
       color: #FF4136;
       direction: ltr;
        text-align: right;
   }
   
   page-menufood .select .get {
       color: #0074D9;
       direction: ltr;
   }
   
   page-menufood .card-title-md{
       display: flex;
       align-items: center;
   }
   
   page-menufood .card-title-md h3 {
       width: 100%;
       font-size: 18px;
       color: #000;
   }
   
   page-menufood .card-title-md p {
       width: 100%;
       text-align: left;
       font-size: 11px;
   }